<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'home')}">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic - Vets</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="jim.springframework.sfgpetclinic.model.Vet"*/-->
    <h2>Vets</h2>
    <table class="table table-striped">
        <thead>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
        </thead>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet?.id}">-</td>
            <td th:text="${vet?.firstName}">-</td>
            <td th:text="${vet?.lastName}">-</td>
        </tr>

    </table>

</body>
</html>